<div id="<%= dom_id entry %>">
  <p>
    <strong>Luggage no:</strong>
    <%= entry.luggage_no %>
  </p>

  <p>
    <strong>C name:</strong>
    <%= entry.c_name %>
  </p>

  <p>
    <strong>Receiv by:</strong>
    <%= entry.receiv_by %>
  </p>

  <p>
    <strong>Receiv datetime:</strong>
    <%= entry.receiv_datetime %>
  </p>

  <p>
    <strong>Return by:</strong>
    <%= entry.return_by %>
  </p>

  <p>
    <strong>Return datetime:</strong>
    <%= entry.return_datetime %>
  </p>

</div>
